.THIS .image {
    height: 110px;
}

.THIS .buttonPosition {
    margin-top: 40px;
    margin-left: 240px;
}

.THIS .thirdButtonPosition {
    margin-top: 40px;
    margin-left: 40px;
}

.THIS .bankImg {
    text-align: center;
    padding: 20px;
}

.THIS .bankImage {
    height: 80px;
    cursor: pointer;
}

.THIS .boxShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}